<div class="row">
  <div class="col-md-2">

  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @bikeroute.name %></h3>
      </div>
      <div class="panel-body">
        <%= @bikeroute.description %>
        <hr />
        Lane Type: <%= @bikeroute.lane_type %>
        <hr />
        Elevation change: <%= @bikeroute.grade %>
        <hr />
        <%= @bikeroute.distance %> Miles
        <hr />
        <h4>Neighborhoods this route goes through</h4>
        <hr />
        <% @bikeroute.neighborhoods.each do |neighborhood| %>
          <%= link_to neighborhood.name, neighborhood_path(neighborhood) %>
          <hr />
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2">

  </div>
</div>
<div class="row">
  <%= link_to 'Back', bikeroutes_path %>
</div>
