<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

<%= stylesheet_link_tag params[:controller], "data-turbolinks-track" => true %>
<% provide(:title, @bikeroute.name ) %>
<div class="row">
  <div class="col-md-2 col-xs-0"></div>
  <div class="">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> <%= @bikeroute.name %></h2>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <div id='map'></div>
            <!-- <iframe width='100%' height='200px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/<%= @mapbox_account %>.5449ca9d/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=<%= @mapbox_apikey %>'></iframe> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p><%= @bikeroute.description %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>About this Route:</p>
            <table class="table">
              <tbody>
                <tr>
                  <td>Lane Type:</td>
                  <td><%= @bikeroute.lane_type %></td>
                </tr>
                <tr>
                  <td>Elevation:</td>
                  <td><%= @bikeroute.grade %></td>
                </tr>
                <tr>
                  <td>Distance:</td>
                  <td><%= @bikeroute.distance %> miles</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h5>Neighborhoods this route goes through</h5>
            <div class="list-group">
              <% @bikeroute.neighborhoods.each do |neighborhood| %>
                <%= link_to neighborhood_path(neighborhood), :class=>'list-group-item' do %>
                  <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                  <%= neighborhood.name %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <% if @bikeroute.twitter_tag.present? %>
              Have an update about this route? <br>
              <a class="twitter-hashtag-button"
                href="https://twitter.com/intent/tweet?button_hashtag=<%= @bikeroute.twitter_tag %>">
              Tweet #<%= @bikeroute.twitter_tag %></a>
            <% end %>

            <% if @bikeroute.twitter_search.present? %>
              <%= @bikeroute.twitter_search.html_safe %>
            <% end %>
          </div>
        </div>

      </div>

      <div class="panel-footer">
        <%= link_to 'Back', bikeroutes_path, :class=>"btn btn-default" %>
      </div>

    </div>
  </div>
  <div class="col-md-2 col-xs-0"></div>
</div>

<%= render 'layouts/twitter' %>

<script type="text/javascript">
  var routegeojson = (<%= @bikeroute.geojson.html_safe %>);
  L.mapbox.accessToken = '<%= @mapbox_apikey %>';
  //known issue: on initial load the accesstoken does not always load before the map calls for it.
  var map = L.mapbox.map('map', 'mapbox.run-bike-hike')
      .setView([37.778313, -122.416105], 14);
  //
  var bikeRoute = map.featureLayer.setGeoJSON(routegeojson, {
    style: function (feature) {
      return {
        color: feature.properties.stroke,
        weight: feature.properties['stroke-width'],
        opacity: feature.properties['stroke-opacity']
      };
  	}
  });
  bikeRoute.eachLayer( function (layer){
    map.setView([layer.feature.centroid[1], layer.feature.centroid[0]], 14 );
    layer.bindPopup(layer.feature.properties.name);
  });

</script>
<%# javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
