<script src='//d3js.org/d3.v3.min.js' charset="utf-8"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
<%= stylesheet_link_tag params[:controller], "data-turbolinks-track" => true %>
<% provide(:title, @bikeroute.name ) %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= image_tag "ic_directions_bike_black_24px.svg"%> <%= @bikeroute.name %></h2>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <div id='map'></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p><%= @bikeroute.description %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>About this Route:</p>
            <table class="table">
              <tbody>
                <tr>
                  <td>Lane Type:</td>
                  <td><%# @bikeroute.lane_type %>n/a</td>
                </tr>
                <tr>
                  <td>Elevation:</td>
                  <td><%# @bikeroute.grade %>--</td>
                </tr>
                <tr>
                  <td>Distance:</td>
                  <td><%= @bikeroute.distance %> miles</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Elevation Profile:</p>
            <div id="elev"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h5>Neighborhoods this route goes through</h5>
            <div class="list-group">
              <% @bikeroute.neighborhoods.each do |neighborhood| %>
                <%= link_to neighborhood_path(neighborhood), :class=>'list-group-item' do %>
                  <%= image_tag "ic_location_city_black_24px.svg"%>
                  <%= neighborhood.name %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <% if @bikeroute.twitter_tag.present? %>
              Have an update about this route? <br>
              <a class="twitter-hashtag-button"
                href="https://twitter.com/intent/tweet?button_hashtag=<%= @bikeroute.twitter_tag %>">
              Tweet #<%= @bikeroute.twitter_tag %></a>
            <% end %>

            <% if @bikeroute.twitter_search.present? %>
              <%= @bikeroute.twitter_search.html_safe %>
            <% end %>
          </div>
        </div>

      </div>

      <div class="panel-footer">
        <%= link_to 'Back', bikeroutes_path, :class=>"btn btn-default" %>
      </div>

    </div>
  </div>
</div>

<%= render 'layouts/twitter' %>

<script type="text/javascript">

  var routegeojson = (<%= @bikeroute.geojson.html_safe %>),
      accessToken = '<%= @mapbox_apikey %>';

  var elevationData = <%= @bikeroute.elevation.html_safe %>;

</script>
<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
