<% provide(:title, "All Neighborhoods") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Neighborhoods:</h3>
      </div>

      <div class="list-group">
        <% @neighborhoods.each do |neighborhood| %>

            <%= link_to neighborhood_path(neighborhood), :class=>'list-group-item' do %>
            <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> <%=  neighborhood.name %></h4>
            <p class="list-group-item-text">
              <% neighborhood.bikeroutes.each do |bikeroute| %>
                <%= bikeroute.name %><%= "," unless bikeroute == neighborhood.bikeroutes.last %>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-md-2"></div>
</div>
