<% provide(:title, @neighborhood.name ) %>
<p id="notice"><%= notice %></p>
<script src='//d3js.org/d3.v3.min.js' charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js" charset="utf-8"></script>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= image_tag "ic_location_city_black_24px.svg"%> <%= @neighborhood.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div id="map-container"></div>
            <span id='selected-route'></span>
            <script type="text/javascript">
              var neighborhoodGeojson = <%= raw @neighborhood.geojson %>,
                  routesInNeighborhoodGeojson = [
                    <% @neighborhood.bikeroutes.each do |bikeroute| %>
                      <%=raw bikeroute.geojson %><% if bikeroute != @neighborhood.bikeroutes.last %>,<% end %>
                    <% end %>
                  ];
            </script>
            <%= javascript_include_tag 'neighborhood', 'data-turbolinks-track' => true %>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <h3>About this Neighborhood</h3>
            <%= @neighborhood.about || @neighborhood.name + ' is an awesome San Francisco neighborhood!' %>          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <% if @neighborhood.bikeroutes.presence %>
              <h5>Bike Routes in this Neighborhood:</h5>
              <div class="list-group">
                <% @neighborhood.bikeroutes.each do |bikeroute| %>
                  <%= link_to bikeroute_path(bikeroute), :class=>'list-group-item' do %>
                    <h4 class="list-group-item-heading"><%= image_tag "ic_directions_bike_black_24px.svg"%> <%= bikeroute.name %></h4>
                    <p class="list-group-item-text">
                      <%= bikeroute.description[0..24] + '...' %>
                    </p>
                  <% end %>
                <% end %>
              </div>
            <% else %>
            <h5>No bike routes in the system yet</h5>
            <% end %>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <%= link_to 'Back', neighborhoods_path, :class=>"btn btn-default" %>
      </div>

    </div>
  </div>
</div>
